import QtQuick
import Quickshell
import "../components"

DockButton {
    id: dock

    implicitHeight: 50
    implicitWidth: 130

    // Bind this to the associated window/menu.
    // open: someWindow.menuOpen

    contentGlowSource: templateText

    GohuText {
        id: templateText
        anchors.centerIn: parent

        text: "-⋆♱⋆-"
        font.pixelSize: 20

        // Standard Git-derived foreground state.
        color: dock.foregroundColor
    }

    onLeftClicked: {
        // Left-click function
    }

    onRightClicked: {
        // Right-click function
    }
}
