import QtQuick
import Quickshell
import "../components"
import QtQuick.Effects
import Qt5Compat.GraphicalEffects

Rectangle {
    id: dock

    implicitHeight: 50
    implicitWidth: 130

    color: Colors.black

    Item {
        id: textglowContainer

        anchors.fill: parent

        Text {
            id: text

            anchors.centerIn: parent

            text: "-⋆♱⋆-"

            font.pixelSize: 20

            color: mouse.pressed
                   ? Colors.cyan
                   : mouse.containsMouse
                   ? Colors.cyan
                   : Colors.white
        }

        DropShadow {
            id: textGlow

            anchors.fill: text
            source: text

            horizontalOffset: 0
            verticalOffset: 0

            radius: 14
            samples: 15

            z: 2

            opacity: mouse.pressed
                     ? 1.0
                     : mouse.containsMouse
                     ? 0.8
                     : 0.6

            color: mouse.pressed
                   ? Colors.cyan
                   : mouse.containsMouse
                   ? Colors.cyan
                   : Colors.cyan

            transparentBorder: true
        }
    }

    MouseArea {
        id: mouse

        anchors.fill: parent

        hoverEnabled: true

        acceptedButtons: Qt.LeftButton | Qt.RightButton

        onClicked: function(mouse) {
            if (mouse.button === Qt.LeftButton) {
                // Left-click function
            }

            if (mouse.button === Qt.RightButton) {
                // Right-click function
            }
        }
    }

    RectangularShadow {
        id: dockSoftGlow

        anchors.fill: parent

        spread: 3
        z: -1

        opacity: mouse.pressed
                 ? 0.6
                 : mouse.containsMouse
                 ? 0.5
                 : 0.4

        color: mouse.pressed
               ? Colors.cyan
               : mouse.containsMouse
               ? Colors.cyan
               : Colors.cyan
    }

    RectangularShadow {
        id: dockWideGlow

        anchors.fill: parent

        spread: 10
        z: 1

        opacity: mouse.pressed
                 ? 0.12
                 : mouse.containsMouse
                 ? 0.09
                 : 0.07

        color: mouse.pressed
               ? Colors.cyan
               : mouse.containsMouse
               ? Colors.cyan
               : Colors.cyan
    }
}
